*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.progress{
    background-color: red;
    height: 3px;
    animation: load 1s ease-in-out 1; 
    transition: load 3s ease-in-out 1;
}
@keyframes load { 
    0%{
        width: 0;
    }
    50%{
        width: 60vw;
    }
    100%{
        width: 100vw;
    }

}
.header{
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0px 80px;
    margin-top: 20PX;
    /* margin-bottom: 60px; */
}
.nav{
    align-items: center;
    text-align: center;
    display: flex;
     gap: 10px;
     font-weight: bold;
     padding: 0;
     /* margin-bottom: 10%; */
}
.nav a{
    color: black;
}

.nav ul li{
    display: inline;
    margin: 0 10px;
    font-weight: bold;
    justify-content: space-between;
    padding: 25px;
    /* gap: 10px; */
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact{
    background: rgb(246, 232, 234);
    color: black;
    border: 2px solid black;
    box-shadow: 2px solid pink;
    border-radius: 25px;
    font-size: 30px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
    /* margin-bottom: 20%; */
}
.contact:hover{
    background-color: rgb(247, 205, 212);
    transform: scale(1.1);
}
.offers p{
   background-color: rgb(250, 227, 231);
   color: black;
   text-align: center;
   justify-content: space-between;
   align-items: center;
   padding: 3px;
   margin: 0 0 40px;
}
 
.hero{
    color: black;
    /* font-size: 20px; */
    font-weight: bold;
    align-items: center;
    text-align: center;
    /* padding: 100px 20px; */
}
.hero h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.hero p{
    color: black;
} 
.hero .load-more{
    background-color: lightcyan;
}
.san{
    animation: sandhya 2s ease-in-out infinite alternate; 
}
@keyframes sandhya {
    0%{
        opacity: 0; transform: scale(0.2);
    }
   
    100%{
        opacity: 1; transform: scale(1);
    }
}

.men h2{
    margin: 80px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main{
    text-align: center;
    padding: 100px auto;
    /* width: 100%; */
    /* height: 100vh; */
}
.main img{
    width: 100%;
    height: 90vh;
    margin: px;
    padding: 130px 0px;
}
.products{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
    padding: 0 20px;
}
.product{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgb(226, 191, 203);
    width: 250px;
    text-align: center;
}
.product img{
    max-width: 100%;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
.product:hover{
    transform: scale(1.1);
    /* background-color: rgb(244, 233, 235); */
}
.product h3{
    margin-top: 15px;
    font-style: 1.5rem;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: rgb(250, 231, 234);
    border: 2px solid transparent;
    border-radius: 7px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: all .6s ease;
    margin-right: 20px;
}
.btn:hover{
    transform: scale(1.1);
    background-color: pink;
}
 .main-hero .price{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    color: black;
}
.price span{
    font-size: 17px;
    font-weight: bold;
    color: black;
    margin-left: 10px;
}
.woman h2{
    margin: 80px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.load{
    background-color: rgb(252, 235, 238);
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    border-radius: 8px;
    /* margin: 50px; */
    padding: 5px;
    margin-left: 47%;
}
.load:hover{
    transform: scale(1.1);
    background-color: rgb(228, 146, 158);
}
.unisex h2{
    margin: 80px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer{
    /* background-color: rgb(248, 232, 234); */
    background-color: white;

    /* color: black; */
    align-items: center;
    padding: 100px 20px;
}
.footer h3{
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.footer p{
    align-items: center;
    text-align: center;
    justify-content: space-between;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.footer:hover{
    /* background-color: rgb(255, 200, 209); */
    /* background-color: white; */
    background-color: rgb(248, 232, 234);

}
.email-container{
    background-color:  rgb(250, 226, 228);
    padding: 20px;
    box-shadow: 0px 4px 8px rgb(0,0,0,0.1);
    text-align: center;
    border-radius: 8px;
}
input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #633d3d;
    border-radius: 5px;
    /* text-align: center; */
    /* color: black; */
}
button{
    padding: 10px 20px;
    background-color:  rgb(248, 232, 234);
    color: black;
    border:  2px solid rgb(13, 13, 13);
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    /* background-color: pink; */
}
.email-container p{
    margin-top: 10px;
    color:black;
}